// Supabase Database credentials
DATABASE_URL=DATABASE_URL

// Supabase API Key & URL
SUPABASE_URL=SUPABASE_URL
SUPABASE_ANON_KEY=SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY

// JWT Secret (change in production)
JWT_SECRET=JWT_SECRET

// Frontend URL (for email verification links)
FRONTEND_URL=http://localhost:3000

// Server Port
PORT=3000
